POSTGRES_USER=<RDS_USER>
POSTGRES_PASSWORD=<RDS_PASSWORD>
POSTGRES_DB=<RDS_DB_NAME>

DATABASE_URL=postgresql://<RDS_USER>:<RDS_PASSWORD>@<RDS_ENDPOINT>:5432/<RDS_DB_NAME>

APP_ENV=development
DEBUG=False
CORS_ORIGINS=http://localhost:5173